*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Poppins', sans-serif;
    
}


  body::-webkit-scrollbar {
    width: 0; 
  }
.footer{
    background-color: black;
    color: aliceblue;
    padding: 10px;
}

.slider{
    overflow: hidden;
    display: flex;
    width: 100%;
    position: relative;
    
    border-radius: 5px;

}

.slider-image-container{
    display: flex;
    transition: 2s;
}

.slider-image{
    width: 100vw;
}

.slider-left-button{
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
    
}

.slider-left-button i{
    font-size: 10vw;
    
}
.slider-right-button{
    position: absolute;
    top: 35%;
    right: 5%;
}
.slider-right-button i{
    font-size: 10vw;
}
.slider-content{
    position: absolute;
    color: white;
    text-align: center;
     width: 100%;
     top: 20%;
}
.slider-content h1{
    font-size: 5vw;
}
.slider-content button{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 10px;
   color: #1D232C;
}
.brands{
    display: flex;
    flex-wrap: wrap;
}
.opt{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin: 20px;
    margin-right: 20px;
    gap: 20px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
gap: 20px;
}